@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@400;600;700&display=swap');

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}
